<!-- Header -->
<header class="header-background">
    <div class="container min-vh-100 col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

            <!-- Phone with application -->
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="assets/img/phone.png" class="d-block mx-auto img-fluid" alt="hero-img"
                    loading="lazy">
            </div>
            <!-- ./Phone with application -->

            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-light lh-1 mb-3">Адаптивный герой с выравниванием по
                    левому краю и изображением</h1>
                <p class="lead text-light">Быстро создавайте и настраивайте адаптивные сайты, ориентированные на
                    мобильные
                    устройства, с помощью Bootstrap, самого популярного в мире инструментария с открытым исходным
                    кодом для интерфейса пользователя, включающего переменные и миксины Sass, адаптивную сеточную
                    систему, обширные готовые компоненты и мощные плагины JavaScript.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Основная</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">По умолчанию</button>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ./Header -->