<!-- Header -->
<header class="header-background">
    <div class="container d-flex align-items-center min-vh-100 col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

            <div class="col-lg-8 text-light">
                <h1 class="display-5 fw-bold lh-1 mb-3">Уверенность в каждой ставке с Monden:</h1>
                <blockquote class="blockquote h2 mb-3">
                    <p class="display-6 h2">"Лучший бот для прогнозов на LuckyJet!"</p>
                </blockquote>
                <p class="lead mb-5">С Monden вы всегда будете в курсе лучших прогнозов для LuckyJet. Наш
                    бот, использующий искусственный интеллект и анализ предыдущих результатов, предоставляет вам самые
                    актуальные и точные данные. Мы объединяем в себе мощь технологии и аналитическую глубину для того,
                    чтобы вы могли сделать успешные ставки и выиграть больше. Попробуйте прямо сейчас и ощутите будущее
                    ставок на LuckyJet с Monden!</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href=" https://t.me/mondenai_bot" class="btn btn-primary btn-lg px-4 me-md-2">Попробовать бесплатно</a>
                </div>
            </div>

            <!-- Phone with application -->
            <div class="col-lg-4">
                <img src="assets/img/phone.png" class="d-block mx-auto img-fluid" alt="hero-img" loading="lazy">
            </div>
            <!-- ./Phone with application -->

        </div>
    </div>
</header>
<!-- ./Header -->