<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"
    aria-label="Большая навигационная панель Offcanvas">
    <div class="container-fluid">

        <!-- logo and branding -->
        <a class="navbar-brand" href="#">
            <img src="https://github.com/AreNotAvalible/Monden/blob/develope/assets/img/logo.png?raw=true"
                alt="Bootstrap" width="48" height="48">
            Monden
        </a>
        <!-- ./logo and branding -->

    </div>
</nav>
<!-- ./Navbar -->