@import "vars";
@import "bootstrap-5.3.1/scss/bootstrap.scss";


/* Custom Styles */

body {
    background: linear-gradient(#16002f, #580e50);
}

header {
    background-image:
        url('img/background-img.png'),
        url('img/background-stars.png');
    background-position: bottom;
    background-repeat: no-repeat;
}

footer {
    background-image:
        url('img/background-footer.png');
    background-position: bottom;
    background-repeat: no-repeat;
}

// .img-fluid {
//     max-width: 25em;
// }